<body>
  
    <h1 class="page-title">Sport Girl Memory</h1>
    <div 
    class="overlay-text" 
    [class.visible]= "visible">
      <button 
       class="gamestart" 
       (click)="clickstart()">Start the Game! 
      </button>
    </div>
    
    <div
     id="game-over-txt" 
     class="overlay-text"
     [class.visible]= "visible">
      <button class="gameover" 
      (click)="clickstart()">Start the Game! 
      </button>
    </div>
  
    <div class="game-container">
      <div class="game-info-container">
        <div class="game-info">
         Time: <span>{{timecounter}}</span>
        </div>
        <div class="game-info">
          Flips: <span id="flips">{{ticker}}</span>
        </div> 
      </div>
     
      
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value" >
        </div>
  
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
  
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
  
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <div class="background"></div>
        </div>
        <div class="card-front card-face">
          <img src="" style="max-width: 200px; max-height: 200px;" alt="Copyright image" class="front-value">
        </div>
      </div>
    
      
    </div>
  

    <div class="audiobutton">
   
      <audio controls autoplay loop>
        <source src="/assets/audio/bensound-thelounge.mp3" type="audio/mpeg" data-info="Music: https://www.bensound.com">
      </audio>

    </div>
   
    
  </body>