<body>
    <h1 class="page-title">Sport Girl Memory</h1>
    <div class="overlay-text visible" onclick="removeVisible()">Click to Start</div>
    <div id="game-over-txt" class="overlay-text ">Game Over!<span class="overlay-text-small">Click to restart</span></div>
    <div id="victory-over-txt" class="overlay-text ">Victory<span class="overlay-text-small">Click to restart</span></div>
    <div class="game-container">
      <div class="game-info-container">
        <div class="game-info">
          Time: <span id="time-remaining">100</span>
        </div>
        <div class="game-info">
          Flips: <span id="flips">0</span>
        </div> 
      </div>
  
      
      <div class="card">
        <div class="card-back card-face">
          <img  src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" >
        </div>
        <div class="card-front card-face">
          <img class="card-value" src="../assets/media/handstandgirl.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value" >
        </div>
  
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/handstandgirl.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
  
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/hangingsportgirl.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
  
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/hangingsportgirl.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/hangingsportgirlkm.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/hangingsportgirlkm.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/Sportgirlicons.png" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/Sportgirlicons.png" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/sportgirlxy.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/sportgirlxy.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/yogimove123.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/yogimove123.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/yogigirlkm.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/yogigirlkm.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/yogigirlxy.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img src="../assets/media/flowervs.png" style="max-width: 200px; max-height: 200px;" alt="" class="flowerfont">
        </div>
        <div class="card-front card-face">
          <img src="../assets/media/yogigirlxy.jpg" style="max-width: 200px; max-height: 200px;" alt="" class="front-value">
        </div>
      </div>
    
      
    </div>
  
  </body>