@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Prata', serif;
   
}

html{
   
    margin: 0;
   
}
body{

    background: radial-gradient( #ffffff, #ffdcfa, #ffaef4);
    min-height: 100vh;
}
